body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.kvnkjabvav {
  /* background-color: #db551b; */
}
.kvnkjabvav .user-heading h1 {
  color: var(--orange-head);
  font-weight: 700;
  font-size: 3em;
}
.kvnkjabvav .showPass{
    position: relative;
}

.kvnkjabvav .showPass .showPassIcon{
  position:absolute ;
  bottom: 25px ;
  right: 30px ;
  font-size: 1.3em ;
  cursor: pointer;
}

.hover:hover{
    text-decoration: underline;
}